*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.footercontaier {
    width: 100%;
    height: 65vh;
    background-color: rgb(31, 31, 139);
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 20px;

}
.footercont1 {
   height: 25vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.cont11 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    list-style-type: none;
}

.heading1 {
    font-size: 13px;
    font-weight: bold;
    color: white;

}

.paragraph1 {
    font-size: 09px;
    color: white;
}

.email {
    width: 250px;
    height: 35px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
}

.buttonemail {
  width: 10vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
}

.nm {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}


.cont13 {
    
   height: 25vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;


}