*{
    box-sizing: border-box;
}

body {
    margin: 0%;
    padding: 0%;
}

.navContainer {
    background-color: white;
    height: 15vh;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
.imagelogo {
    height: 7vh;
    border-radius: 18%;
    background-size: cover;
    position: relative;
}
.headerulcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 55%;
    height: 12vh;
    list-style-type: none;
    margin-right: 2%;
}
.inputprouduct {
    height: 4vh;
    width: 20%;
    padding: 5px;
    color: black;
    font-family: system-ui;
    font-size: 16px;
    border-radius: 10px;
}

.shoplist {
    font-family: system-ui;
    font-weight: 700;
    font-size: 18px;
}
.shoplist:hover {
    text-decoration:underline;
    text-decoration-color: black;
    text-decoration-thickness: calc(1.1);
}

.skillslist {
    font-family: system-ui;
    font-weight: 700;
    font-size: 18px;
}
.skillslist:hover {
    text-decoration:underline;
    text-decoration-color: black;
    text-decoration-thickness: calc(1.1);
}

.storieslist:hover {
    text-decoration:underline;
    text-decoration-color: black;
    text-decoration-thickness: calc(1.1);
}

.storieslist  {
    font-family: system-ui;
    font-weight: 700;
    font-size: 18px;
}

.aboutlist:hover {
    text-decoration:underline;
    text-decoration-color: black;
    text-decoration-thickness: calc(1.1);
}

.aboutlist {
    font-family: system-ui;
    font-weight: 700;
    font-size: 18px;
}

.contactlist:hover {
    text-decoration:underline;
    text-decoration-color: black;
    text-decoration-thickness: calc(1.1);
}

.contactlist {
    font-family: system-ui;
    font-weight: 700;
    font-size: 18px;
}