* {
  box-sizing: border-box;
}

body {
  margin: 0%;
  padding: 0%;
}
.homecontainer {
  height: 355vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.bannercontainer {
  height: 33vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.43) 0px 1px 2px 0px;
}
.heading {
  color: black;
  font-family: system-ui;
  font-size: 36px;
}
.para {
  color: black;
  font-family: system-ui;
  font-size: 16px;
}
.containerhead {
  box-shadow: rgba(0, 0, 0, 0.43) 0px 1px 2px 0px;
  height: 13vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
  width: 100%;
}
.cont {
  height: 12vh;
  width: 24%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pacount {
  color: black;
  font-family: system-ui;
  font-weight: 700;
  font-size: 17px;
}

.pahide {
  color: rgba(128, 128, 128, 0.562);
  font-family: system-ui;
  font-weight: 700;
  font-size: 17px;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.selectcontrec {
  height: 6vh;
  width: 20%;
  padding: 10px;
  border-radius: 10px;
   color: black;
  font-weight: bold;
  font-size: 17px;
  border-color: transparent;
}
.recommendedoption {
  color: black;
  font-size: 17px;
}

.newestoption {
  color: black;
  font-size: 17px;
}

.popularoption {
  color: black;
  font-size: 17px;
}

.highoption  {
  color: black;
  font-size: 17px;
}

.lowoption   {
  color: black;
  font-size: 17px;
}

.mainContainer {
  width: 100%;
  height: 250vh;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.ee {
  height: 250vh;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  
 
}